.contact-container {
  padding: 2.5rem 0;
}
.reachus-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.underLine {
  width: 3.5rem;
  height: 2px;
  background-color: var(--darkgreen);
}
.contactCard-wrapper {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
  justify-content: center;
  align-items: center;
}
.Contact-Icon {
  font-size: 1.5rem;
  color: var(--darkgreen);
}
.contactCard {
  width: 18rem;
  height: 12rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  text-align: center;
  gap: 10px;
}
.contact-Details {
  font-size: 1rem;
}
.contact-title {
  color: var(--darkgreen);
  font-weight: 500;
  font-size: 1.5rem;
}
.contact-Details-mail {
  font-size: 0.8rem;
}
.reachus-wrapper p {
  width: 60%;
  text-align: center;
}
.contact-Icons-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 2rem 0;
}
.contact-socio-icon {
  color: #fff;
  background-color: var(--darkgreen);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  font-size: 1.3rem;
  border-radius: 100%;
}
.contactmap-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.contact-map{
    width: 75%;
    height: 400px;
    border: none;
}
@media (max-width: 768px) {
  .contactCard {
    width: 85%;
  }
  .reachus-wrapper p {
    width: 90%;
  }
  .contact-Details-mail {
    font-size: 0.9rem;
  }
}
