.aboutmember {
  width: 100%;
  padding: 5rem 0;
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color:var(--lightgreen); */
  /* font-family: "Bebas Neue", sans-serif; */
}
.aboutmember .heritage {
  /* font-size: 2.5rem; */
  text-align: center;
  color: var(--yellow);
  font-size: 3rem;
  font-weight: 600;
  /* line-height: 1rem; */
}

.member {
  gap: 3rem;
  width: 80%;
  height: 70vh;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  /* padding: 3rem 0; */
  background-color: var(--darkgreen);
  /* background: url("https://static.vecteezy.com/system/resources/previews/035/978/179/non_2x/ai-generated-indian-ayurveda-herbal-medicine-free-photo.jpg"); */
  position: relative;
  /* opacity: 0.5; */
  /* border: 1px solid red; */
  /* background-color: #fff; */
  box-shadow: 1px 1px 5px 0.5px #9d9b9b;
}
.membershadow {
  width: 100%;
  top: 0;
  height: 70vh;
  position: absolute;
  z-index: 2;
  border-radius: 20px;
  /* background-color: #fff; */
  /* background: linear-gradient(to left bottom,#021209,#102c11); */
  /* background-color: var(--darkgreen); */
  /* background-color: rgba(0, 128, 0, 0.285); */
  background: url("https://static.vecteezy.com/system/resources/previews/035/978/179/non_2x/ai-generated-indian-ayurveda-herbal-medicine-free-photo.jpg");
  opacity: 0.6;
  background-size: cover;
  background-position: center;
  /* filter: blur(2px); */
}
.currentDetails .head {
  color: var(--white);
  font-size: 2.6rem;
  font-weight: 700;
}
.currentDetails {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid; */
  width: 50%;
  position: relative;
  z-index: 20;
}
.currentimage {
  width: 15rem;
  height: 17rem;
  position: relative;
  z-index: 10;
  border-radius: 10px;

  /* display: none; */
}
.currentDetails .paragraph {
  width: 100%;
  position: relative;
  z-index: 20;
  /* color: red; */
  text-align: justify;
  color: var(--white);
  font-size: 1.2rem;
}
@media (max-width: 480px) {
  .member {
    /* height: 130vh; */
    height: 100%;
    width: 95%;
    flex-direction: column;
    padding: 2rem 0;
  }
  .membershadow {
    /* height: 130vh; */
    height: 100%;
    /* padding: 2rem 0; */
  }
  .currentDetails .paragraph {
    /* padding: 0 10px; */
    width: 97%;
    text-align: center;
  }
  .currentDetails {
    width: 100%;
  }
  .currentimage {
    width: 13rem;
    height: 15rem;
  }
}
