.aboutmainwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  padding: 3rem 0;
  /* font-family: "Bebas Neue", sans-serif;  */
  /* background-color: var(--lightgreen);p1rem */
}
.aboutmaindetails {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.aboutmaindetails h3 {
  color: var(--green);
}
.aboutmaindetails .aboutmainpara {
  width: 55%;
  text-align: justify;
}
.aboutmaindetails h1 {
  color: var(--darkgreen);
  /* text-align: center; */
  width: 60%;
}
@media (max-width: 786px) {
  .aboutmaindetails h1 {
    text-align: center;
  }
  .aboutmainwrapper {
    flex-direction: column;
    height: 100%;

    align-items: center;
    justify-content: center;
  }
  .aboutmaindetails {
    height: 100%;
    padding: 2rem 0;
    align-items: center;
  }
  .aboutmaindetails .aboutmainpara {
    width: 80%;
  }
}
