.CountWrapper {
  width: 100%;
  min-height: 95vh;
  position: relative;
  z-index: 2;
  /* font-family: "Bebas Neue", sans-serif; */
  background-color: var(--white);
  /* background-color: var(--lightgreen); */
}
.BgCount {
  width: 100%;
  height: 60vh;
  /* background-color: #cfffb5; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Countvelayudha {
  font-size: 3rem;
  font-weight: 600;
  color: var(--darkgreen);
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.BgCount img {
  width: 4rem;
}
.Countpharma {
  font-size: 2rem;
  color: var(--darkgreen);
}
.CountAchive {
  font-size: 1.2rem;
  color: var(--yellow);
}
.counterList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 2rem;
  position: absolute;
  bottom: 6rem;
}
.counterCard {
  width: 16rem;
  height: 11rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: var(--darkgreen);
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1px;
  overflow: hidden;
  box-shadow: 1px 1px 10px 1px rgb(203, 203, 203);
}

.counterCard .Icon {
  font-size: 3rem;
}
.counterCard .Count {
  font-size: 1.5rem;
  font-weight: 600;
}
.counterCard .Info {
  font-size: 1.2rem;
}
@media (max-width: 426px) {
  .counterList {
    position: relative;
    /* bottom: 0; */
  }
  .CountWrapper {
    background-color: var(--white);
  }
  .counterCard {
    width: 15rem;
    height: 10rem;
  }
  .Countvelayudha {
    font-size: 2.3rem;
  }
  .Countpharma {
    font-size: 1.5rem;
  }
}
