.PageDetails {
  width: 100%;
  /* margin-top: 2rem; */
  height: 20rem;
  background: url("https://static.vecteezy.com/system/resources/previews/035/978/179/non_2x/ai-generated-indian-ayurveda-herbal-medicine-free-photo.jpg");
  /* background: url("https://www.keralaayurveda.biz/media/user_2mKbLQa0e7/4893/ayurvedic-treatments-therapies.png"); */
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.PageName {
  width: 100%;
  height: 20rem;
  background-color: #66964d54;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}
.PageName h1{
  font-size: 3rem;
  font-weight: 700;
}