.servicemain {
  display: flex;
  /* font-family: "Bebas Neue", sans-serif; */
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.sidebar {
  /* width: 80%; */
  width: 25%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.services {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
  width: 100%;
  align-items: center;
  min-height: 80vh;
  justify-content: center;
}
.servicewrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.serviceImgSmall {
  width: 2rem;
  height: 2rem;
}
.servicelist {
  width: 16rem;
  background-color: var(--darkgreen);
  border-radius: 35px;
  padding: 9px 0;
  color: var(--white);
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  text-transform: capitalize;
  /* border: 1px solid red; */
  /* font-family: "Bebas Neue", sans-serif; */
}
.DisDetails {
  display: flex;
  align-items: center;
  gap: 10px;
}
.DisDetailsImg {
   padding: 20px;
  width: 13rem;
  height: 17rem;
  border: 3px solid var(--green);
  /* box-shadow: 25px 25px 2px 2px var(--green); */
  border-radius: 35px;
}
.DisDetailsInfo {
  width: 500px;
}
.DisDetailsInfo h3 {
  /* color: #615c4e; */
  /* color: var(--darkgreen); */
  /* color: red; */
  text-align: center;
  width: 30rem;
  /* border: 1px solid red; */
  /* padding-right: 20px; */
}
@media (max-width: 426px) {
  .servicelist {
    width: 70%;
    font-size: 1rem;
  }
  .servicewrapper {
    width: 100%;
  }
  .servicemain {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sidebar {
    width: 90%;
  }
  .services {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
  }
  .DisDetails {
    flex-direction: column;
    padding: 50px 0;
  }
  .DisDetailsInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .DisDetailsInfo h3 {
    /* color: var(--darkgreen); */
    text-align: center;
    padding: 0 5px;
    width: 85%;
    color: #25221b;
  }
  .DisDetailsImg {
    /* padding: 20px; */
    border-radius: 35px;
    /* border: 1px solid red; */
    width: 12rem;
    height: 15rem;
    /* box-shadow: 0 0 0 0 black; */
    /* box-shadow: 0.5px 0.5px 1px 1px var(--darkgreen); */
  }
}
