@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
body {
  margin: 0;
  font-family: "Lora", serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #edeae1; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --white: #edeae1;
  --darkgreen: #3a6020;
  /* --white: #fdfcfb; */
  /* --darkgreen: #3a6020; */
  --green: #66964d;
  /* --green: #163405; */
  /* --lightgreen: #c9f0b5; */
  --lightgreen: #c9f0b5;
  /* --darkgreen: #102c01; */
  /* --darkgreen: #102c01; */
  /* --white: #ffffff; */
  --yellow: #999900;
}

a {
  text-decoration: none;
}
